body{
    background: white;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
header{
    border: 5px solid black;
    height: 33%;
    margin: 10px;
}
.purple-box{
    background: purple;
    float: left;
    height: 75%;
    width: 5%;
    margin: 65px 0 0 10px
}    
.green-box{
    background: green;
    float: left;
    height: 93%;
    width: 40%;
    margin: 12px 0 0 40px;
    
}
.blue-circle{
    background: lightblue;
    float: left;
    height: 93%;
    width: 22%;
    margin: 12px 0 0 40px;
    border-radius: 100%
}
main{
    border: 5px dotted black;
    height: 33%;
    margin: 10px;
    padding-top: 50px;
    box-sizing: border-box;
}
main > div{
    background: #FBFFD1;
    height: 75%;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
    
}
section{
    height: 33%;    
    box-sizing: border-box;
}
section > div{
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 1px lightgrey;
    height: 85%;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    font-size: 35px;
    text-align: center;
    padding: 90px 0 0 0;
    letter-spacing: 5px;
}